{% load staticfiles %}
<!-- Start home-aboutus Area -->
<section class="home-aboutus-area">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-8 no-padding about-left">
                <img class="img-fluid"
                     src="https://secure.meetupstatic.com/photos/event/c/a/6/c/highres_464751820.jpeg" alt=""
                     style="padding:15px;">
            </div>
            <!-- TODO: Replace Lorem Ipsum -->
            <div class="col-lg-4 no-padding about-right">
                <p class="top-title">Python Artists of Arkansas</p>
                <h1 class="text-white">Welcome!</h1>
                <p>
                    <span>
                        We're a group of Python enthusiasts in the Little Rock, Arkansas area exploring
                        all types of Python programming. Python developers
                        of all levels are encouraged to join us for our monthly meetups and help out with our
                        community projects.
                    </span>
                </p>
                <p>
                    <span>
                        Whether just curious, a new programmer, or you remember clearing the moths out of your vacuum tubes,
                        we want to see YOU! Primarily about the Python programming language, we want to encourage all
                        "programming" and "technology" discussions - COME GEEK OUT!
                    </span>
                </p>
                <p>
                    We are the official Python.org sponsored user group for central Arkansas. Our website is http://pyark.org/
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End home-aboutus Area -->
