{% load staticfiles %}
<!-- Start callaction Area -->
<section class="callaction-area relative section-gap">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <h1 class="text-white">Come and Join us!</h1>
                <p>
                    The Arkansas Python Conference will be at UALR. Sign up now!
                </p>
                <a class="callaction-btn" href="https://www.meetup.com/Python-Artists-of-Arkansas/">Join us on Meetup!</a>
            </div>
        </div>
    </div>	
</section>
<!-- End callaction Area -->
<!-- TODO: Replace Lorem Ipsum -->