{% load staticfiles %}
<!-- Start brand Area -->
<section class="brand-area section-gap">
    <div class="container">
        <div class="row logo-wrap">
            <a class="col single-img" href="#">
                <img class="d-block mx-auto" src="img/l1.png" alt="">
            </a>
            <a class="col single-img" href="#">
                <img class="d-block mx-auto" src="img/l2.png" alt="">
            </a>
            <a class="col single-img" href="#">
                <!-- TODO: Replace Lorem Ipsum -->
                <img class="d-block mx-auto" src="img/l3.png" alt="">
            </a>
            <a class="col single-img" href="#">
                <img class="d-block mx-auto" src="img/l4.png" alt="">
            </a>
            <a class="col single-img" href="#">
                <img class="d-block mx-auto" src="img/l5.png" alt="">
            </a>
        </div>	
    </div>	
</section>
<!-- End brand Area -->	