{% load staticfiles %}
<!-- Start video Area -->
<section class="home-video-area">
        <div class="container-fluid">
            <div class="row justify-content-end align-items-center">
                <div class="col-lg-4 no-padding about-right">
                    <p class="top-title">Tutorial for beginner</p>
                    <h1>We Telecast our <br>
                    Coffee Making Live</h1>
                    <p><span>We are here to listen from you deliver exellence</span></p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. magna aliqua. Ut enim ad minim. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. magna aliqua. Ut enim ad minim.
                    </p>
                </div>
                <!-- TODO: Replace Lorem Ipsum -->
                <section class="video-area col-lg-6 no-padding">
                    <div class="overlay overlay-bg"></div>
                    <div class="containers">
                        <div class="video-content">
                            <img class="img-fluid" src="{% static 'img/about1.jpg' %}" alt="">

                        </div>
                    </div>
                </section>											
            </div>
        </div>	
    </section>
    <!-- End vidoe Area -->