{% load staticfiles %}
<!-- Start video-sec Area -->
<section class="video-sec-area section-gap" id="videos">
    <div class="container">
        <div class="row justify-content-center align-items-center ">
            <div class="col-lg-6 video-left">
                <h6>Brand new app to blow your mind</h6>
                <h1>We’ve made a life <br>
                that will change you</h1>
                <p><span>We are here to listen from you deliver exellence</span></p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
                </p>
                <a class="primary-btn" href="#">Get Started now</a>
            </div>
            <!-- TODO: Replace Lorem Ipsum -->
            <div class="col-lg-6">
                <div class="active-video-carusel">
                        <div class="item video-right justify-content-center align-items-center d-flex" style="background:url(img/video-bg.jpg) no-repeat center;background-size: cover;">
                        <div class="overlay overlay-bg"></div>
                        <a class="play-btn" href="https://www.youtube.com/watch?v=ARA0AxrnHdM"><img class="img-fluid" src="img/play-icon.png" alt=""></a>
                        </div>
                        <div class="item video-right justify-content-center align-items-center d-flex" style="background:url(img/video-bg.jpg) no-repeat center;background-size: cover;">
                        <div class="overlay overlay-bg"></div>
                        <a class="play-btn" href="https://www.youtube.com/watch?v=ARA0AxrnHdM"><img class="img-fluid" src="img/play-icon.png" alt=""></a>
                        </div>	
                        <div class="item video-right justify-content-center align-items-center d-flex" style="background:url(img/video-bg.jpg) no-repeat center;background-size: cover;">
                        <div class="overlay overlay-bg"></div>
                        <a class="play-btn" href="https://www.youtube.com/watch?v=ARA0AxrnHdM"><img class="img-fluid" src="img/play-icon.png" alt=""></a>
                        </div>																		
                </div>							
            </div> 
        </div>
    </div>	
</section>
<!-- End video-sec Area -->
