{% extends 'main/base.html' %}
{% load staticfiles %}
{% block title %}Arkansas Python Conference | {{ page_title}} {% endblock %}
<!-- TODO: Replace Lorem Ipsum -->
{% block content %}
    <!-- Start Generic Area -->
    <section class="about-generic-area section-gap">
        <div class="container border-top-generic">
            <h3 class="about-title mb-30">{{ page_title }}</h3>
            <h4>{{ page.introduction }}</h4>
            <div class="row">
                <div class="col-md-12">
                    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdVRSPO4WRLrRMft0sjiEQs9VbYnoQP5FcUdMJBECS0UCqbpA/viewform?embedded=true" width="640" height="397" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
                </div>
            </div>
        </div>
    </section>
    <!-- End Generic Start -->
{% endblock %}
